.row {
    display: flex;
    flex-direction: column;
   }
   
   .card {
       display: flex;
       flex-direction: row;
       height: 300px;
       justify-content: center;
       align-items: center;
       background-color: rgb(249, 249, 249);
   }
   
   .card-body{
       width: 50%;
      
   }
   
   .mb-4{
       width: auto;
   }
   
   .inicial{
       width: 700px;
   }
   
   #videos{
       height: 300px;
   }
   
   #imagens{
       height: 306px;
   }