.row {
    display: flex;
    flex-direction: column;
   }
   
   .card {
       display: flex;
       flex-direction: row;
       height: auto;
       width: auto;
       justify-content: center;
       align-items: center;
       background-color: rgb(250, 250, 250);
   }
   
   .card-body{
       width: 40%;
   }
   
   .mb-4{
       width: auto;
   }
   
   .inicial{
       width: 700px;
   }
   
   #videos{
       height: 293px;
       width: auto;
       padding-left: 8px;
       padding-top: 8px;
   }
   
   #imagens{
       height: 230px;
       padding-left: 8px;
       padding-top: 8px;
       padding-bottom: 8px;
   }

   #primeirosite{
    height: 307px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}
   
   .sensorsom{
    width: 630px;
   }
   
   #fimdepagina{
    width: auto;
   }

   .row{
    align-items: center;
   }

